@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.noteContainer {
    border: 1px solid grey;
    min-height: 15rem;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

button {
    margin: 5px;
}



*{
    margin: 0px;
    padding: 0px;
    user-select: none;
}
body{
    background-color: #21D4FD;
        background-image: linear-gradient(19deg, #9E12ED 0%, #3112ED 100%);
}

.select{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100vh;
    gap: 5vh;
}

.selectContainer{
    background-color: rgba(255,255,255,0.3);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.selectContainer>*{
    width: 20vw;
    height: 10vh;
}

.loginPage{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .loginBg{
    width: 100vw;
    height: 100vh;
    opacity: 0.3;
    position: absolute;
    z-index: -1;
} */

.loginTab{
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    display: flex;
    flex-direction: column;
    width: 40vw;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 20px;
    opacity: 0.8;
    top: 0px;
    border-radius: 20px;
    min-height: 50vh;
}
.loginText{
    color: #CEED12;
    font-size: 2.5rem;
}
.loginEmail{
    height: 5vh;
    width: 30vw;
    border-radius: 20px;
    padding-left: 20px;
    border: none;
    /* box-shadow: 0px 1px 2px 0px #12ED9E, 1px 2px 4px 0px #12ED9E,2px 4px 8px 0px #12ED9E,2px 4px 16px 0px #12ED9E; */
}
.loginPassword{
    width: 30vw;
}
.loginBtn{
    height: 8vh;
    width: 10vw;
}
.loginSignupText{
    color: black;
}
.toSignUp{
    color: red;
    font-weight: bold;
    margin: 0px 10px;

}
.toSignUp:hover{
    cursor: pointer;
}
.dummy{
    display: none;
}
.homePage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100vh;
    gap: 5vh;
}

.homePageText{
    font-size: 3.5rem;
    font: bolder;
    color: #ED9E12;
    font-family: "Poppins", sans-serif;
}
.selectButton{
    background-color: #41D8F1;
    background: linear-gradient(110deg,#12CEED 0%,#1261ED 100%);
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    color: #ED3112;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 15px;
    font-weight: bold;
}

.homePageContainer{
    background-color: rgba(255,255,255,0.3);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.homePageContainer>*{
    width: 20vw;
    height: 10vh;
    
}


.compose{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 5vh;
}

.composeText{
    font-size: 3.5rem;
    font: bolder;
    color: red;
}

.composeContainer{
    background-color: rgba(255,255,255,0.4);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 5vw 5vw;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    justify-content: center;
    align-items: center;
}

.composeInnerText{
    font-size: 1.5rem;
}

.composeTo,.composeSubject,.composeBody{
    width: 50vw;
}
.composeButton{
    width: 10vw;
}

.inbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.inboxText{
    color: red;
    font: bolder;
    font-size: 3.5rem;
}

.inboxContainer{
    margin: 1rem;
    padding: 5vw;
    background-color: rgba(255,255,255,0.3);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 20px;
    max-height: 60vh;
}

.mailTab{
    min-height: 3rem;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    font-size: 1.5rem;
    gap: 10vw;
    justify-content: space-between;
    padding: 10px;
    overflow: hidden;
}

.mailTabSelected{
    border: 1px solid red !important ;

}

.mailSubject{
    width: 50%;
}

.mailFrom{
    flex: 1;
}


/* ----------------------------------------- */

.backgroundWave{
    justify-self: center;
    align-self: center;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: -1;
}
.stroke{
    width: 2vw;
    height: 15vh;
    background: linear-gradient(240deg,#ED12CE,#F141D8);
    transition: all 0.2s ease-in-out;
    animation: voice 1.2s infinite linear;
    border-radius: 20px;
    /* opacity: 0.7; */
}
@keyframes voice{
    0%{
        height: 5vh;
    }
    50%{
        height: 30vh;
    }
    100%{
        height: 5vh;
    }
}
.stroke:nth-child(4n){
    animation-delay: 0s;
}
.stroke:nth-child(4n+1){
    animation-delay: 0.3s;
}
.stroke:nth-child(4n+2){
    animation-delay: 0.6s;
}
.stroke:nth-child(4n+3){
    animation-delay: 0.9s;
}