.noteContainer {
    border: 1px solid grey;
    min-height: 15rem;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

button {
    margin: 5px;
}



*{
    margin: 0px;
    padding: 0px;
    user-select: none;
}
body{
    /* background-color: black; */
}

.select{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100vh;
    gap: 5vh;
}

.selectContainer{
    background-color: rgba(255,255,255,0.3);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.selectContainer>*{
    width: 20vw;
    height: 10vh;
}

.loginPage{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.loginBg{
    width: 100vw;
    height: 100vh;
    opacity: 0.3;
    position: absolute;
    z-index: -1;
}

.loginTab{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 40vw;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 20px;
    opacity: 0.8;
    top: 0px;
    border-radius: 20px;
    min-height: 50vh;
    margin-top: 25vh;
}
.loginText{
    color: rgb(255, 0, 0);
    font-size: 2.5rem;
}
.loginEmail{
    width: 30vw;
}
.loginPassword{
    width: 30vw;
}
.loginBtn{
    height: 8vh;
    width: 10vw;
}
.loginSignupText{
    color: black;
}
.toSignUp{
    color: blue;
    font-weight: bold;
    margin: 0px 10px;

}
.toSignUp:hover{
    cursor: pointer;
}
.dummy{
    display: none;
}
.homePage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100vh;
    gap: 5vh;
}

.homePageText{
    font-size: 3.5rem;
    font: bolder;
    color: red;
}

.homePageContainer{
    background-color: rgba(255,255,255,0.3);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.homePageContainer>*{
    width: 20vw;
    height: 10vh;
    
}


.compose{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 5vh;
}

.composeText{
    font-size: 3.5rem;
    font: bolder;
    color: red;
}

.composeContainer{
    background-color: rgba(255,255,255,0.4);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 5vw 5vw;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    justify-content: center;
    align-items: center;
}

.composeInnerText{
    font-size: 1.5rem;
}

.composeTo,.composeSubject,.composeBody{
    width: 50vw;
}
.composeButton{
    width: 10vw;
}

.inbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.inboxText{
    color: red;
    font: bolder;
    font-size: 3.5rem;
}

.inboxContainer{
    margin: 1rem;
    padding: 5vw;
    background-color: rgba(255,255,255,0.3);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 20px;
    max-height: 60vh;
}

.mailTab{
    min-height: 3rem;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    font-size: 1.5rem;
    gap: 10vw;
    justify-content: space-between;
    padding: 10px;
    overflow: hidden;
}

.mailTabSelected{
    border: 1px solid red !important ;

}

.mailSubject{
    width: 50%;
}

.mailFrom{
    flex: 1;
}