@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --text:#d3dbfa;
    --background:#030719;
    --primary:#7d8eef;
    --secondary:#941240;
    --acent:#e64d37;
    --poppins:"Poppins",sans-serif;
    --second-boundary:rgba(9, 16, 36, 0.8);
}


.noteContainer {
    border: 1px solid grey;
    min-height: 15rem;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

button {
    margin: 5px;
}



*{
    margin: 0px;
    padding: 0px;
    user-select: none;
}
body{
    background-color:var(--background)
}

.select{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100vh;
    gap: 5vh;
}

.homePageText {
    font-size: 4rem;
    font-weight: 600;
    font: bolder;
    color: var(--text);
    font-family: var(--poppins);
}
.selectContainer{
    background-color:var(--second-boundary); 
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.selectContainer>*{
    width: 20vw;
    height: 10vh;
}

.loginPage{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .loginBg{
    width: 100vw;
    height: 100vh;
    opacity: 0.3;
    position: absolute;
    z-index: -1;
} */

.loginTab{
    background-color: var(--second-boundary);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    display: flex;
    flex-direction: column;
    width: 40vw;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 20px;
    opacity: 0.8;
    top: 0px;
    border-radius: 20px;
    min-height: 50vh;
}
.loginText{
    color: var(--secondary);
    font-family: var(--poppins);
    font-weight:500 ;
    font-size: 2.5rem;
}
.MuiInputBase-input{
    height: 5vh;
    width: 30vw !important;
    border-radius: 20px;
    padding-left: 20px !important;
    border: none;
    border: none !important;
    color: white !important;
    box-shadow: rgba(100, 100, 111, 0.7) 0px 7px 29px 0px;
}
.MuiInputLabel-root{
    color: white !important;
    margin-left:20px ;
    border: none !important;
}
.loginBtn{
    background-color: var(--primary) !important;
    height: 8vh;
    width: 10vw;
}
.loginSignupText{
    color: white;
    font-family: var(--poppins);
}
.toSignUp{
    font-family: var(--poppins);
    color: var(--secondary);
    font-weight: bold;
    margin: 0px 10px;

}
.toSignUp:hover{
    cursor: pointer;
}
.dummy{
    display: none;
}
.homePage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100vh;
    gap: 5vh;
}

.selectButton{
    background-color: var(--primary) !important;
    border: none;
    cursor: pointer;
    border-radius: 20px !important;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 15px;
    font-weight: bold;
}

.homePageContainer{
    background-color: var(--second-boundary);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.homePageContainer>*{
    width: 20vw;
    height: 10vh;   
}
.homepageBtn{
    background-color: var(--primary) !important;
    border-radius: 20px !important;
}


.compose{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 5vh;
}

.composeText{
    font-size: 3.5rem;
    font: bolder;
    color: var(--text);
}

.composeContainer{
    background-color: var(--second-boundary);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 5vw 5vw;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    justify-content: center;
    align-items: center;
}

.composeInnerText{
    font-size: 1.5rem;
    color: white;
}

.composeTo .MuiInputBase-input,.composeSubject .MuiInputBase-input,.composeBody .MuiInputBase-input{
    width: 50vw !important;
}
.composeButton{
    width: 10vw;
}

.inbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.inboxText{
    color: var(--primary);
    font: bolder;
    font-size: 3.5rem;
}

.inboxContainer{
    margin: 1rem;
    padding: 5vw;
    background-color: var(--second-boundary);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 20px;
    max-height: 60vh;
}

.mailTab{
    min-height: 3rem;
    border: 1px solid var(--acent);
    border-radius: 20px;
    display: flex;
    font-size: 1.2rem;
    gap: 10vw;
    justify-content: space-between;
    padding: 10px;
    overflow: hidden;
    flex: 1;
    opacity: 0.4;
    /* box-shadow: rgba(148, 18, 64, 0.20) 0px 10px 20px, rgba(148, 18, 64,0.4) 0px 6px 6px; */
}


.mailSubject{
    width: 50%;
    color: var(--text);
    font-family: var(--poppins);
}

.mailFrom{
    flex: 1;
    color: var(--text);
    font-family: var(--poppins);
}


/* ----------------------------------------- */

.backgroundWave{
    justify-self: center;
    align-self: center;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: -1;
}
.stroke{
    width: 2vw;
    height: 15vh;
    background-color: var(--acent);
    transition: all 0.2s ease-in-out;
    animation: voice 1.2s infinite linear;
    border-radius: 20px;
    /* opacity: 0.7; */
}
@keyframes voice{
    0%{
        height: 10vh;
    }
    50%{
        height: 35vh;
    }
    100%{
        height: 10vh;
    }
}
.stroke:nth-child(4n){
    animation-delay: 0s;
}
.stroke:nth-child(4n+1){
    animation-delay: 0.3s;
}
.stroke:nth-child(4n+2){
    animation-delay: 0.6s;
}
.stroke:nth-child(4n+3){
    animation-delay: 0.9s;
}